<!-- <script id="article-template" type="text/x-handlebars-template"> -->
    {{#each Data}}
         <article data-author="{{author}}" data-category="{{category}}"}>
           <h1 class="title">{{title}}</h1>
           <p class="authorInfo">By
             <a class="author" href="{{authorurl}}">{{author}}</a>
             published about <span class="postDays">{{diffDays}}</span>days ago
           </p>
           <p class='cat'>{{category}}</p>
           <div class="content">
             {{{body}}}
             <a class="read-more" href="">Read More</a>
           </div>
           <hr>
        </article>
    {{/each}}
<!-- </script> -->
